<md-dialog class="col-md-4" aria-label="Thêm-sửa nhóm user">
    <div class="row card-header pl-2">
        <h5 class="mt-2">Thêm/sửa user</h5>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancelFn()">
            <i class="fa fa-close"></i>
        </md-button>
    </div>
    <form ng-cloak name="myForm">
    
        <md-dialog-content>
        <div class="md-dialog-content">
            <div class="col">
                <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="parent">Nhóm cha</label>
                    <div class="col-md-9">
                        <input type="text" name="parent" id="parent" ng-model="group.parent_id" class="form-control" placeholder="Nhóm cha">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="name">Tên nhóm <span class="text-danger">*</span></label>
                    <div class="col-md-9" ng-class="{'has-danger':myForm.name.$error.required&&formChecked}">
                        <input type="text" name="name" id="name" required ng-model="group.name" class="form-control" placeholder="Tên nhóm">
                        <span ng-show="formChecked && myForm.name.$error.required" class="text-danger">Vui lòng nhập tên nhóm</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="value">Giá trị <span class="text-danger">*</span></label>
                    <div class="col-md-9" ng-class="{'has-danger':myForm.value.$error.required&&formChecked}">
                        <input type="text" name="value" id="value" required ng-model="group.value" class="form-control" placeholder="Giá trị">
                        <span ng-show="formChecked && myForm.value.$error.required" class="text-danger">Vui lòng nhập giá trị</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 form-control-label" >Kích hoạt</label>
                    <div class="col-md-9">
                        <label class="switch switch-default switch-text switch-info d-inline-block">
                            <input type="checkbox" class="switch-input" ng-model="group.on">
                            <span class="switch-label"  data-on="On" data-off="Off"></span>
                            <span class="switch-handle"></span>                                
                        </label>
                    </div>
                </div>
            </div>                
        </div>
        </md-dialog-content>
    
        <md-dialog-actions layout="row">
        <span flex></span>
        <div class="text-danger" ng-if="msg">{{msg}}</div>
        <button type="button" class="btn btn-default btn-sm mr-3" ng-click="cancelFn('not useful')">
            <i class="icon-action-undo icons"></i> Bỏ qua
        </button>
        <button type="button" class="btn btn-primary btn-sm mr-2" ng-click="saveFn('useful')">
            <i class="fa fa-save fa-lg"></i> Lưu
        </button>
        </md-dialog-actions>
    </form>
</md-dialog>