<md-dialog class="col-md-6" aria-label="Thêm sửa user-chi nhánh">
    <div class="row card-header pl-2">
        <h5 class="mt-2">Thêm/sửa user-chi nhánh</h5>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancelFn()">
            <i class="fa fa-close"></i>
        </md-button>
    </div>
    <form ng-cloak name="myForm">
    
        <md-dialog-content>
        <div class="md-dialog-content">
            <div class="col-md-6 float-left">
                <div class="form-group row">
                    <label class="col-md-4 form-control-label text-md-right">Tài khoản</label>
                    <label class="col-md-8 font-weight-bold" >
                        {{user.username}}
                    </label>
                </div>
            </div>                
            <div class="col-md-6 float-left">
                <div class="form-group row">
                    <label class="col-md-4 form-control-label text-md-right">Nhân viên</label>
                    <label class="col-md-8 font-weight-bold" >
                        {{user.name}}
                    </label>
                </div>
            </div>                
                <div id="printDiv" class="table-responsive">
                    <table id="user-tb" class="table table-hover table-outline">
                        <thead class="thead-default">
                            <tr>
                                <th class="text-right">#</th>
                                <th>Tên CN</th>
                                <th>Diễn giải</th>
                                <th>Trực thuộc</th>
                            </tr>
                        </thead>
                        <tbody class="table-sm">
                            <tr ng-repeat="(key, value) in user_branchs">
                                <td class="text-right">{{$index + 1}}</td>
                                <td>{{value.vi_name}}</td>
                                <td>{{value.vi_description}}</td>
                                <td nowrap>
                                  <label class="switch switch-sm switch-text switch-info float-center mb-0">
                                    <input type="checkbox" class="switch-input" ng-model="value.on" ng-change="changeUserBranchFn(value)">
                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                    <span class="switch-handle"></span>
                                  </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
        </md-dialog-content>
    </form>
</md-dialog>