
<div class="row" ng-controller="comp_alertCnt as ctrl">
    
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <span class="col-6 text-truncate float-left"><i class="icon-bell"></i> Thông báo từ công ty, khoa</span>
                <span class="float-right mr-1">
                    <button class="btn btn-primary" ng-click="showAlertFormFn(event, {enable:1})"><i class="fa fa-plus fa-lg"></i> Thêm  </button>
                </span>
            </div>
            <div class="card-block"> 
                <form role="form" method="post" name="AlertForm" ng-submit="findFn()">
                <div class="form-group row">
                    <div class="col-md-3 col-sm-6 mt-3">
                        <input type="text" ng-model="form.title" class="form-control" placeholder="Tiêu đề">
                    </div>
                    <div class="col-md-2 col-sm-6 mt-3">
                        <select ng-model="form.branch" class="form-control" ng-options="option.vi_name for option in branchs track by option.branch_id">
                        </select>
                    </div>
                    
                    <div class="col-md-3 col-sm-6 mt-3">
                        <md-autocomplete
                            md-no-cache="ctrl.noCache"
                            md-selected-item="ctrl.selectedItem"
                            md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                            md-search-text="ctrl.searchText"
                            md-selected-item-change="ctrl.selectedItemChange(item)"
                            md-items="item in ctrl.querySearch(ctrl.searchText)"
                            md-item-text="item.vi_name"
                            md-min-length="0"
                            placeholder="--Chọn Khoa--"
                            md-menu-class="form-control">
                          <md-item-template>
                            <span class="item-title">
                              <span><strong> {{item.vi_name}} </strong></span>
                            </span>
                            <span class="item-metadata">
                              <span>
                                - <i>{{item.en_name}}</i>
                              </span>
                              <span>
                                - <i>{{item.vi_description}}</i>
                              </span>
                            </span>
                          </md-item-template>
                        </md-autocomplete>
                    </div>
                    <div class="col-md-2 col-sm-6 mt-3">
                        <select ng-model="form.enable" class="form-control" ng-options="option.name for option in [{id:'',name:'--Chọn trạng thái--'},{id:'1',name:'Đang sử dụng'},{id:'0',name:'Tạm khóa'}] track by option.id">
                        </select>
                    </div>
                    <div class="col-md-2 col-sm-4 col-6 mt-3">
                        <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-search fa-lg"></i> Tìm </button>
                    </div>
                    <div class="col-12 col-md-6 mt-4 text-danger" ng-if="msg">{{msg}}</div>
                </div>
                </form>
                <div id="printDiv" class="table-responsive">
                    <table id="alert-tb" class="table table-hover table-outline">
                        <thead class="thead-default">
                            <tr>
                                <th>#</th>
                                <th>Tiêu đề</th>
                                <th>Nội dung tóm tắt</th>
                                <th>Cơ sỡ</th>
                                <th>Khoa</th>
                                <th>Bắt đầu</th>
                                <th>Kết thúc</th>
                                <th>Khóa</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody class="table-sm">
                            <tr ng-repeat="(key, value) in data_list">
                                <td class="text-right">{{$index + start_record}}</td>
                                <td>{{value.title | limitTo:limitTitle}}</td>
                                <td>{{value.short_content | limitTo:limitShortContent}}</td>
                                <!-- <td>{{value.content}}</td> -->
                                <td>{{value.b_vi_name}}</td>
                                <td>{{value.d_vi_name}}</td>
                                <td>{{value.start_time | date : 'dd/MM/yyyy'}}</td>
                                <td>{{value.end_time | date : 'dd/MM/yyyy'}}</td>
                                <td>
                                    <span ng-if="value.enable==1" class="text-primary pt-2 ml-3 mr-1"><i class="fa fa-unlock fa-lg mt-2"></i> </span>
                                    <span ng-if="value.enable==0" class="text-secondary pt-2 ml-3 mr-1"><i class="fa fa-lock fa-lg mt-2"></i> </span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-warning btn-sm" title="Sửa" ng-click="showAlertFormFn(event, value, key)"><i class="icon-pencil icons"></i> Sửa</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row" paging></div>
            </div>
        </div>
    </div>
    <!--/.col-->
</div>